@import url('stylePaletColor.css');

body{
    min-height: 100vh;
}

.main{
    height: 100%;
    
}

.productsTable {
    width: 80%;
    margin: auto;
    border: 1px solid var(--TABLE_BORDER_COLOR);
    margin-top: 10px;
}

.filters {
    display: flex;
    gap: 20px;
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.searchBar {
    flex-basis: 230%;
}

.table {
    margin-bottom: 0px;
}

.table-title>th {
    text-align: center;
}

.cell-cant {
    text-align: center;
}

#principalTable>.tableBody th:last-child {
    width: 80px;
    vertical-align: middle;
}

#principalTable>.tableBody th:first-child {
    vertical-align: middle;
}

#principalTable>.tableBody th:nth-child(2) {
    width: 80px;
    text-align: right;
    vertical-align: middle;
}

#cartTable>.tableBody th:first-child {
    max-width: 80px;
    vertical-align: middle;
}

#cartTable>.tableBody th:last-child {
    width: 60px;
    vertical-align: middle;
}

#cartTable>.tableBody th:nth-child(3) {
    width: 10px;
    text-align: center;
    vertical-align: middle;
}

#cartTable>.tableBody th:nth-child(2) {
    width: 10px;
    text-align: right;
    vertical-align: middle;
}

.tableHeader tr:last-child th {
    text-align: center;
}

#cart {
    display: none;
    min-height: 100vh;
}

#total {
    text-align: right;
}

#addProducts,
#cart {
    padding-top: 15px;
}

#menu-btns {
    position: fixed;
    z-index: 3;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background: #fff;
    border-bottom: solid 1px #000;
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 4%;
    padding-bottom: 4%;
}

#menu {
    display: none;
    justify-content: center;
}

.popUp-container{
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;
}

#downloadAsPDF{
    font-size: 14px !important;
}

#cartTable{
    margin-bottom: 0px;
}

.placeHolderDark::placeholder{
    color: white !important
}

.dark-modal{
    background-color: #212529 !important;
    color: white !important;
}